<div class="flex w-screen mb-4 px-10 py-5 items-center justify-between max-sm:justify-center">

    <a href="" class="flex flex-col pb-1 max-sm:text-center max-sm:items-center border-b-[2px] border-amber-700">
        <h1 class="text-4xl font-extrabold bg-gradient-to-b from-amber-600 to-amber-800 bg-clip-text text-transparent">ThermoBar-Hub</h1>
        <p class="text-lg text-amber-700">{{ 'submoto' | translate }}</p>
    </a>

    <div class="md:flex max-sm:hidden font-bold text-amber-700">
        <a class="inglets" routerLink="submit">Get started</a>
        <a class="inglets" routerLink="documentation">Documentation</a>
        <a class="inglets" href="https://github.com/PennyWieser/Thermobar/tree/main"target="_blank">GitHub</a>
    </div>

</div>
