<div class="flex w-screen mb-4 px-10 py-5 items-center justify-between max-sm:justify-center">

    <a href="" class="flex flex-col pb-1 max-sm:text-center max-sm:items-center border-b-[2px] border-amber-700">
        <h1 class="text-4xl font-extrabold bg-gradient-to-b from-amber-600 to-amber-800 bg-clip-text text-transparent">ThermoBar-Hub</h1>
        <p class="text-lg text-amber-700">An online tool for Thermobarometry calculations</p>
    </a>

    <div class="md:flex max-sm:hidden font-bold text-amber-700">
        <a class="flex flex-col items-center px-3 text-xl after:duration-200 after:bg-amber-700 after:h-[2px] after:w-[0%] hover:after:w-[100%]" routerLink="submit">Get started</a>
        <a class="flex flex-col items-center px-3 text-xl after:duration-200 after:bg-amber-700 after:h-[2px] after:w-[0%] hover:after:w-[100%]" routerLink="documentation">Documentation</a>
        <a class="flex flex-col items-center px-3 text-xl after:duration-200 after:bg-amber-700 after:h-[2px] after:w-[0%] hover:after:w-[100%]" href="https://github.com/PennyWieser/Thermobar/tree/main"target="_blank">GitHub</a>
    </div>

</div>