<div class="relative">
    <div class="absolute top-0 left-0 flex flex-col items-center justify-center h-screen w-screen z-10">

        <h1 class="w-[60%] py-9 text-center">{{ 'accessible' | translate}}</h1>
        <p class="w-3/6 mb-12 text-2xl text-center text-neutral-800">{{ 'descriptionHERO' | translate}}</p>

        <div class="flex w-[25vw] justify-between items-center">
            <button routerLink="submit" class="buttonGradient">{{ 'getStarted' | translate }}</button>
            <a target="_blank" class="text-neutral-800 hover:text-neutral-500 text-lg"
               href="https://www.jvolcanica.org/ojs/index.php/volcanica/article/view/161">
              ThermoBar <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
            </a>
        </div>

    </div>
    <img src="/heroBG.jpg" alt="" class="-z-10 opacity-15 h-screen w-screen object-cover">
</div>

<app-why-us></app-why-us>
