<div class="flex flex-col items-center justify-center overflow-hidden">
  <div class="h-[50vw] max-sm:h-[50vh] rounded-md shadow-inner w-[95%] overflow-scroll bg-neutral-50">

    <div id="titles" class="flex" [ngStyle]="{ 'width': 'calc(' + dataColumns.length + ' * 200px)' }">
      <p *ngFor="let col of dataColumns" class="flex items-center justify-center py-8 px-4 border-b-[1px] border-neutral-300 font-semibold text-neutral-600 text-center w-[200px]">
        {{col}}
      </p>
    </div>

    <div id="content" *ngFor="let row of dataList" [ngStyle]="{'display': 'grid', 'grid-template-columns': 'repeat(' + dataColumns.length + ', 200px)'}">
      <p class="flex items-center justify-center px-4 py-2 border-b-[1px] border-neutral-200 text-neutral-600 text-center overflow-hidden" *ngFor="let value of objectKeys(row)" >
        {{ roundDictValues(row[value]) }}
      </p>
    </div>

  </div>
</div>
